@tailwind base;
@tailwind components;
@tailwind utilities;

/* styles.css */
.no-scrollbar::-webkit-scrollbar {
  display: none;
}

.no-scrollbar {
  -ms-overflow-style: none; /* for Internet Explorer, Edge */
  scrollbar-width: none; /* for Firefox */
}

.online.online::before {
  @apply outline-slate-400;
}
